<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:insert="./fragments :: html_head"><title></title></head>
	<body>
	   <form action="#" th:action="@{/Book/BookAdded}" method="post" th:object="${newBook}">
	    <label>Title:</label>
		 <input type="text" th:field="*{title}" /><br />
		 
		 <label for="">Author's First Name</label>
		 <input type="text" th:field="*{authorFirstName}" /><br />
		 
		 <label for="">Author's Last Name</label>
		 <input type="text" th:field="*{authorLastName}"/><br />
		 
		 <label for="">ISN Number</label>
		 <input type="text" th:field="*{ISN_Number}" /><br />
		 
		 <label for="">Publication Date</label>
		<!--  <input type="date" th:field="*{publicationDate}"><br /> -->
		 
		 <button type="submit">Add</button><br />
		 </form>
		
	</body>
</html>