<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:insert="./fragments :: html_head"><title></title></head>
	<nav th:insert="./fragments :: navbar"></nav>
	<body>
		<table>
			<tr>
				 <th>Title</th>
				 <th>Author First</th>
				 <th>Author Last </th>
				 <th>Publication Date</th>
				 <th></th>
			</tr>
			<tr th:each="book: ${listOfBooks}">
				 <td th:text="${book.title}"></td>
				 <td th:text="${book.authorFirstName}"></td>
				 <td th:text="${book.authorLastName}"></td>
				 <td th:text="${book.publicationDate}"></td>
			</tr>
		</table>
	</body>
	<footer th:insert="./fragments :: footer"></footer>
</html>