<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head th:insert="./fragments :: html_head"><title></title></head>
	<nav th:insert="./fragments :: navbar"></nav>
	<body>
	   <div class="container">
	   
	   	<form action="#" th:action="@{/Users/EmployeeAdded}" method="post" th:object="${newEmployee}">
	   		<div class="form-group">
	   		  <label for="enterUsername">UserName: </label>
              <input id="enterUsername" class="form-control" type="text" th:field="*{Username}" placeholder="Username" /><br />
	   		</div>
	   		
	   		<div class="form-group">
	   		  <label for="enterUserRole">UserRole: </label>
	          <select id="enterUserRole" th:field="*{UserRole}" >
	                <option th:each="p : ${userRoles}" th:value="${p}" th:text="${p}"></option>
	          </select ><br />
	   		</div>
	   		
	   		<div class="form-group">
	   		  <label for="enterEmail">Email: </label>
              <input id="enterEmail" class="form-control" type="email" th:field="*{Email}" placeholder="Email" /><br />
	   		</div>
	   		
	   		<div class="form-group">
	   		  <label for="enterAddress">Address: </label>
              <input id="enterAddress" class="form-control" type="text" th:field="*{Address}" placeholder="Address" /><br />
	   		</div>
	   		
	   		<button type="submit" class="btn btn-primary">Submit</button><br />
	   	</form>
	   	
	   </div>
	</body>
	<footer th:insert="./fragments :: footer"></footer>
	
</html>