<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head th:insert="./fragments :: html_head"><title></title></head>
	<nav th:insert="./fragments :: navbar"></nav>
	<body>
	   <form action="#" th:action="@{/Users/EmployeeAdded}" method="post" th:object="${newEmployee}">
           <label for="">UserName: </label>
           <input type="text" th:field="*{Username}" /><br />
           
           <label for="">UserRole: </label>
           <select th:field="*{UserRole}" >
           	    <option th:each="p : ${userRoles}" th:value="${p}" th:text="${p}"></option>
           </select ><br />
           
           <label for="">Email: </label>
           <input type="email" th:field="*{Email}"  /><br />
           
           <label for="">Address: </label>
           <input type="text" th:field="*{Address}"  /><br />
           
           <button type="submit">Submit</button><br />
       </form>
	</body>
	<footer th:insert="./fragments :: footer"></footer>
	
</html>