<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
	<head th:fragment="html_head">
		<meta charset="UTF-8" />
		<title>Library.io</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	
	<nav th:fragment="navbar" class="navbar navbar-dark bg-dark">
    
    </nav>
	
	
	<footer th:fragment="footer">
		<p>Thank You for Visiting</p>
	</footer>
	
</html>