<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	   
    <head>
        <title>Library.io</title>
    </head>
    <body>
        <div>
            <h1>Books</h1>
            <a th:href="@{./Book/CheckIn}">Check In</a>
            <a href="CheckOut">Check Out</a>
            <a href="Book/EditBookDetails">Book Details</a>
        </div>
        <div>
            <h1>Community Patrons</h1>
            <a href="Patron/AddPatron">Add Patron</a>
            <a href="Patron/EditPatron">Edit Patron</a>
            <a href=""></a>
        </div>
        <div>
        	<h1>Employee</h1>
        	<a href="Employee/AddEmployee">Add Employee</a>
        	<a href="Employee/EditEmployee">Edit Employee</a>
        </div>
    	
    </body>
	
</html>