<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	   
    <head th:insert="fragments :: html_head"><title></title></head>
    <nav th:insert="fragments :: navbar"></nav>
    <body>
        <div>
            <h1>Books</h1>
            <ul>
            	<li><a th:href="@{./Book/AddBook}">Add Book</a></li>
            	<li><a th:href="@{./Book/CheckIn}">Check In</a></li>
            	<li><a th:href="@{./Book/CheckOut}">Check Out</a></li>
            	<li><a th:href="@{./Book/LookUpBooks}">Look Up Books</a></li>
            </ul>
        </div>
        <div>
            <h1>Community Patrons</h1>
            <ul>
            	<li><a th:href="@{./Patron/AddPatron}">Add Patron</a></li>
            	<li><a th:href="@{./Patron/LookUpPatron}">Look Up Patrons</a></li>
            </ul>
        </div>
        <div>
        	<h1>Employee</h1>
        	<ul>
        		<li><a th:href="@{./Users/AddEmployee}">Add Employee</a></li>
        		<li><a th:href="@{./Users/LookUpEmployee}">Look Up Employees</a></li>
        	</ul>
        </div>
    	 
    </body>
	<footer th:insert="fragments :: footer"></footer>
</html>