<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	   
    <head th:insert="fragments :: html_head"><title></title></head>
    <nav th:insert="fragments :: navbar"></nav>
    <body>
        <div>
            <h1>Books</h1>
            <a th:href="@{./Book/AddBook}">Add Book</a>
            <a th:href="@{./Book/CheckIn}">Check In</a>
            <a th:href="@{./Book/CheckOut}">Check Out</a>
            <a th:href="@{./Book/EditBookDetails}">Book Details</a>
        </div>
        <div>
            <h1>Community Patrons</h1>
            <a th:href="@{./Patron/AddPatron}">Add Patron</a>
            <a th:href="@{./Patron/EditPatron}">Edit Patron</a>
        </div>
        <div>
        	<h1>Employee</h1>
        	<a th:href="@{./Users/AddEmployee}">Add Employee</a>
        	<a th:href="@{./Users/EditEmployee}">Edit Employee</a>
        </div>
    	 
    </body>
	<footer th:insert="fragments :: footer"></footer>
</html>