<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <head th:insert="./fragments :: html_head"><title></title></head>
	<body>
		<form action="#" th:action="@{/Patron/PatronAdded}" method="post" th:object="${newPatron}">
		  <label for="">First Name: </label>
		  <input type="text" th:field="*{FirstName}" />
		  
		  <label for="">Last Name: </label>
		  <input type="text" th:field="*{LastName}" />
		  
		  <label for="">Address: </label>
		  <input type="text" th:field="*{Address}" />
		  
		  <label for="">Student Id: </label>
		  <input type="text" th:field="*{StudentId}" />
		  
		  <label for="">Drivers License Number: </label>
		  <input type="text" th:field="*{DriverLiscenceNum}" />
		  
		  <label for="">Type of Patron:</label>
		  <input type="text" th:field="*{PatronType}" />
		  
		  <button type="button">Add</button>
		</form>
	</body>
</html>